<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Transportation_System}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <h1 id="Name">{{name}}</h1>
    <h1>Contact us</h1>
    <ul>
        <li><a href="mailto:gasstation@gmail.com">Mail Us</a></li>
        <li>Phone Number: +976 776 709 263</li>
        <li>Address: Yemen, Ibb</li>
    </ul>

</body>

</html>