<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Transportation_System}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <h1 id="Name">{{name}}</h1>
    <p>We proivde clients with the best services that matches their demands </p>
    <p>We proivde clients with the best services that matches their demands </p>
    <p>We proivde clients with the best services that matches their demands </p>

</body>

</html>