<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{GasStation}}</title>
</head>

<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit, odit vitae pariatur reprehenderit saepe
        sapiente excepturi obcaecati. Commodi deserunt labore sed officiis quas, praesentium dolor accusamus nesciunt
        veniam libero.</h1>

    <form action="/submit">
        <label for="name">Name: </label>
        <input type="text" id="name" name='name'><br><br>
        <input type="submit" value="Sumit">
    </form>

</body>

</html>